02.x12-837/837-to-xml-order-mapping.dfdl.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/">

    <xs:annotation>
        <xs:appinfo source="http://www.ogf.org/dfdl/">
            <dfdl:format/>
        </xs:appinfo>
    </xs:annotation>

    <!-- Root Element: X12_837P -->
    <xs:element name="X12_837P">
        <xs:complexType>
            <xs:sequence>
                <!-- Header -->
                <xs:element name="Header">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ISA" type="ISAType" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="GS" type="GSType" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="ST" type="STType" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="BHT" type="BHTType" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="REF" type="REFType" minOccurs="0" maxOccurs="3"/>
                            <xs:element name="Loop1000" minOccurs="0" maxOccurs="10">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="NM1" minOccurs="1" maxOccurs="1" type="NM1Type"/>
                                        <xs:element name="N2" minOccurs="0" maxOccurs="2" type="N2Type"/>
                                        <xs:element name="N3" minOccurs="0" maxOccurs="2" type="N3Type"/>
                                        <xs:element name="N4" minOccurs="0" maxOccurs="1" type="N4Type"/>
                                        <xs:element name="REF" minOccurs="0" maxOccurs="2" type="REFType"/>
                                        <xs:element name="PER" minOccurs="0" maxOccurs="2" type="PERType"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- Claim Information -->
                <xs:element name="Loop2000" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="HL" minOccurs="1" maxOccurs="1" type="HLType"/>
                            <xs:element name="PRV" minOccurs="0" maxOccurs="1" type="PRVType"/>
                            <xs:element name="SBR" minOccurs="0" maxOccurs="1" type="SBRType"/>
                            <xs:element name="PAT" minOccurs="0" maxOccurs="1" type="PATType"/>
                            <xs:element name="DTP" minOccurs="0" maxOccurs="1" type="DTPType"/>
                            <xs:element name="CUR" minOccurs="0" maxOccurs="1" type="CURType"/>
                            <xs:element name="Loop2010" minOccurs="0" maxOccurs="10">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="NM1" minOccurs="1" maxOccurs="1" type="NM1Type"/>
                                        <xs:element name="N2" minOccurs="0" maxOccurs="2" type="N2Type"/>
                                        <xs:element name="N3" minOccurs="0" maxOccurs="2" type="N3Type"/>
                                        <xs:element name="N4" minOccurs="0" maxOccurs="1" type="N4Type"/>
                                        <xs:element name="DMG" minOccurs="0" maxOccurs="1" type="DMGType"/>
                                        <xs:element name="REF" minOccurs="0" maxOccurs="20" type="REFType"/>
                                        <xs:element name="PER" minOccurs="0" maxOccurs="2" type="PERType"/>
                                        <xs:element name="LUI" minOccurs="0" maxOccurs="1" type="LUIType"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Loop2300" minOccurs="0" maxOccurs="100">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="CLM" minOccurs="1" maxOccurs="1" type="CLMType"/>
                                    <xs:element name="DTP" minOccurs="0" maxOccurs="150" type="DTPType"/>
                                    <xs:element name="CL1" minOccurs="0" maxOccurs="1" type="CL1Type"/>
                                    <xs:element name="DN1" minOccurs="0" maxOccurs="1" type="DN1Type"/>
                                    <xs:element name="DN2" minOccurs="0" maxOccurs="35" type="DN2Type"/>
                                    <xs:element name="PWK" minOccurs="0" maxOccurs="10" type="PWKType"/>
                                    <xs:element name="CN1" minOccurs="0" maxOccurs="1" type="CN1Type"/>
                                    <xs:element name="DSB" minOccurs="0" maxOccurs="1" type="DSBType"/>
                                    <xs:element name="UR" minOccurs="0" maxOccurs="1" type="URType"/>
                                    <xs:element name="AMT" minOccurs="0" maxOccurs="40" type="AMTType"/>
                                    <xs:element name="REF" minOccurs="0" maxOccurs="30" type="REFType"/>
                                    <xs:element name="K3" minOccurs="0" maxOccurs="10" type="K3Type"/>
                                    <xs:element name="NTE" minOccurs="0" maxOccurs="20" type="NTEType"/>
                                    <xs:element name="CR1" minOccurs="0" maxOccurs="1" type="CR1Type"/>
                                    <xs:element name="CR2" minOccurs="0" maxOccurs="1" type="CR2Type"/>
                                    <xs:element name="CR3" minOccurs="0" maxOccurs="1" type="CR3Type"/>
                                    <xs:element name="CR4" minOccurs="0" maxOccurs="3" type="CR4Type"/>
                                    <xs:element name="CR5" minOccurs="0" maxOccurs="1" type="CR5Type"/>
                                    <xs:element name="CR6" minOccurs="0" maxOccurs="1" type="CR6Type"/>
                                    <xs:element name="CR8" minOccurs="0" maxOccurs="9" type="CR8Type"/>
                                    <xs:element name="CRC" minOccurs="0" maxOccurs="100" type="CRCType"/>
                                    <xs:element name="HI" minOccurs="0" maxOccurs="25" type="HIType"/>
                                    <xs:element name="QTY" minOccurs="0" maxOccurs="10" type="QTYType"/>
                                    <xs:element name="HCP" minOccurs="0" maxOccurs="1" type="HCPType"/>
                                    <xs:element name="Loop2305" minOccurs="0" maxOccurs="6">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="CR7" minOccurs="1" maxOccurs="1" type="CR7Type"/>
                                                <xs:element name="HSD" minOccurs="0" maxOccurs="12" type="HSDType"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="Loop2310" minOccurs="0" maxOccurs="9">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="NM1" minOccurs="1" maxOccurs="1" type="NM1Type"/>
                                                <xs:element name="PRV" minOccurs="0" maxOccurs="1" type="PRVType"/>
                                                <xs:element name="N2" minOccurs="0" maxOccurs="2" type="N2Type"/>
                                                <xs:element name="N3" minOccurs="0" maxOccurs="2" type="N3Type"/>
                                                <xs:element name="N4" minOccurs="0" maxOccurs="1" type="N4Type"/>
                                                <xs:element name="REF" minOccurs="0" maxOccurs="20" type="REFType"/>
                                                <xs:element name="PER" minOccurs="0" maxOccurs="2" type="PERType"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="Loop2320" minOccurs="0" maxOccurs="10">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="SBR" minOccurs="1" maxOccurs="1" type="SBRType"/>
                                                <xs:element name="CAS" minOccurs="0" maxOccurs="99" type="CASType"/>
                                                <xs:element name="RAS" minOccurs="0" maxOccurs="99" type="RASType"/>
                                                <xs:element name="AMT" minOccurs="0" maxOccurs="15" type="AMTType"/>
                                                <xs:element name="DMG" minOccurs="0" maxOccurs="1" type="DMGType"/>
                                                <xs:element name="OI" minOccurs="0" maxOccurs="1" type="OIType"/>
                                                <xs:element name="MIA" minOccurs="0" maxOccurs="1" type="MIAType"/>
                                                <xs:element name="MOA" minOccurs="0" maxOccurs="1" type="MOAType"/>
                                                <xs:element name="HI" minOccurs="0" maxOccurs="1" type="HIType"/>
                                                <xs:element name="LQ" minOccurs="0" maxOccurs="99" type="LQType"/>
                                                <xs:element name="Loop2330" minOccurs="0" maxOccurs="10">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="MN1" minOccurs="1" maxOccurs="1" type="NM1Type"/>
                                                            <xs:element name="N2" minOccurs="0" maxOccurs="2" type="N2Type"/>
                                                            <xs:element name="N3" minOccurs="0" maxOccurs="2" type="N3Type"/>
                                                            <xs:element name="N4" minOccurs="0" maxOccurs="1" type="N4Type"/>
                                                            <xs:element name="PER" minOccurs="0" maxOccurs="2" type="PERType"/>
                                                            <xs:element name="DTP" minOccurs="0" maxOccurs="9" type="DTPType"/>
                                                            <xs:element name="REF" minOccurs="0" maxOccurs="99" type="REFType"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="Loop2400" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="LX" minOccurs="1" maxOccurs="1" type="LXType"/>
                                                <xs:element name="SV1" minOccurs="0" maxOccurs="1" type="SV1Type"/>
                                                <xs:element name="SV2" minOccurs="0" maxOccurs="1" type="SV2Type"/>
                                                <xs:element name="SV3" minOccurs="0" maxOccurs="1" type="SV3Type"/>
                                                <xs:element name="TOO" minOccurs="0" maxOccurs="32" type="TOOType"/>
                                                <xs:element name="SV4" minOccurs="0" maxOccurs="1" type="SV4Type"/>
                                                <xs:element name="SV5" minOccurs="0" maxOccurs="1" type="SV5Type"/>
                                                <xs:element name="SV6" minOccurs="0" maxOccurs="1" type="SV6Type"/>
                                                <xs:element name="SV7" minOccurs="0" maxOccurs="1" type="SV7Type"/>
                                                <xs:element name="HI" minOccurs="0" maxOccurs="25" type="HIType"/>
                                                <xs:element name="PWK" minOccurs="0" maxOccurs="10" type="PWKType"/>
                                                <xs:element name="CR1" minOccurs="0" maxOccurs="1" type="CR1Type"/>
                                                <xs:element name="CR2" minOccurs="0" maxOccurs="5" type="CR2Type"/>
                                                <xs:element name="CR3" minOccurs="0" maxOccurs="1" type="CR3Type"/>
                                                <xs:element name="CR4" minOccurs="0" maxOccurs="3" type="CR4Type"/>
                                                <xs:element name="CR5" minOccurs="0" maxOccurs="1" type="CR5Type"/>
                                                <xs:element name="CRC" minOccurs="0" maxOccurs="3" type="CRCType"/>
                                                <xs:element name="DTP" minOccurs="0" maxOccurs="15" type="DTPType"/>
                                                <xs:element name="QTY" minOccurs="0" maxOccurs="5" type="QTYType"/>
                                                <xs:element name="MEA" minOccurs="0" maxOccurs="20" type="MEAType"/>
                                                <xs:element name="CN1" minOccurs="0" maxOccurs="1" type="CN1Type"/>
                                                <xs:element name="REF" minOccurs="0" maxOccurs="30" type="REFType"/>
                                                <xs:element name="AMT" minOccurs="0" maxOccurs="15" type="AMTType"/>
                                                <xs:element name="K3" minOccurs="0" maxOccurs="10" type="K3Type"/>
                                                <xs:element name="NTE" minOccurs="0" maxOccurs="10" type="NTEType"/>
                                                <xs:element name="PS1" minOccurs="0" maxOccurs="1" type="PS1Type"/>
                                                <xs:element name="IMM" minOccurs="0" maxOccurs="unbounded" type="IMMType"/>
                                                <xs:element name="HSD" minOccurs="0" maxOccurs="1" type="HSDType"/>
                                                <xs:element name="HCP" minOccurs="0" maxOccurs="1" type="HCPType"/>
                                                <xs:element name="CR8" minOccurs="0" maxOccurs="unbounded" type="CR8Type"/>
                                                <xs:element name="Loop2410" minOccurs="0" maxOccurs="unbounded">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="LIN" minOccurs="1" maxOccurs="1" type="LINType"/>
                                                            <xs:element name="CTP" minOccurs="0" maxOccurs="1" type="CTPType"/>
                                                            <xs:element name="REF" minOccurs="0" maxOccurs="1" type="REFType"/>
                                                            <xs:element name="SV4" minOccurs="0" maxOccurs="1" type="SV4Type"/>
                                                            <xs:element name="SV7" minOccurs="0" maxOccurs="1" type="SV7Type"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="Loop2420" minOccurs="0" maxOccurs="10">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="NM1" minOccurs="1" maxOccurs="1" type="NM1Type"/>
                                                            <xs:element name="PRV" minOccurs="0" maxOccurs="1" type="PRVType"/>
                                                            <xs:element name="N2" minOccurs="0" maxOccurs="2" type="N2Type"/>
                                                            <xs:element name="N3" minOccurs="0" maxOccurs="2" type="N3Type"/>
                                                            <xs:element name="N4" minOccurs="0" maxOccurs="1" type="N4Type"/>
                                                            <xs:element name="REF" minOccurs="0" maxOccurs="20" type="REFType"/>
                                                            <xs:element name="PER" minOccurs="0" maxOccurs="2" type="PERType"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="Loop2430" minOccurs="0" maxOccurs="unbounded">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="SVD" minOccurs="1" maxOccurs="1" type="SVDType"/>
                                                            <xs:element name="CAS" minOccurs="0" maxOccurs="99" type="CASType"/>
                                                            <xs:element name="RAS" minOccurs="0" maxOccurs="99" type="RASType"/>
                                                            <xs:element name="DTP" minOccurs="0" maxOccurs="9" type="DTPType"/>
                                                            <xs:element name="AMT" minOccurs="0" maxOccurs="20" type="AMTType"/>
                                                            <xs:element name="LQ" minOccurs="0" maxOccurs="99" type="LQType"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="LS" minOccurs="0" maxOccurs="1" type="LSType"/>
                                                <xs:element name="Loop2440" minOccurs="0" maxOccurs="unbounded">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="LQ" minOccurs="1" maxOccurs="1" type="LQType"/>
                                                            <xs:element name="FRM" minOccurs="1" maxOccurs="99" type="FRMType"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="LE" minOccurs="0" maxOccurs="1" type="LEType"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>

                                </xs:sequence>
                            </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- Trailer -->
                <xs:element name="SE" type="SEType"/>
                <xs:element name="GE" type="GEType"/>
                <xs:element name="IEA" type="IEAType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Segment Types -->
    <xs:complexType name="AMTType"></xs:complexType>
    <xs:complexType name="BHTType">
        <xs:sequence>
            <xs:element name="BHT-01" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="BHT-02" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="BHT-03" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="BHT-04" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="BHT-05" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="BHT-06" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CASType"></xs:complexType>
    <xs:complexType name="CLMType">
        <xs:sequence>
            <xs:element name="CLM-01" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="CLM-02" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CLM-03" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CLM-04" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CLM-05" minOccurs="0" maxOccurs="1" type="C023Type" />
            <xs:element name="CLM-06" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CLM-07" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CLM-08" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CLM-09" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CLM-10" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CLM-11" minOccurs="0" maxOccurs="1" type="C024Type" />
            <xs:element name="CLM-12" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CLM-13" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CLM-14" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CLM-15" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CLM-16" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CLM-17" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CLM-18" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CLM-19" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CLM-20" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CLM-21" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CL1Type"></xs:complexType>
    <xs:complexType name="CN1Type"></xs:complexType>
    <xs:complexType name="CR1Type"></xs:complexType>
    <xs:complexType name="CR2Type"></xs:complexType>
    <xs:complexType name="CR3Type"></xs:complexType>
    <xs:complexType name="CR4Type"></xs:complexType>
    <xs:complexType name="CR5Type"></xs:complexType>
    <xs:complexType name="CR6Type"></xs:complexType>
    <xs:complexType name="CR7Type"></xs:complexType>
    <xs:complexType name="CR8Type"></xs:complexType>
    <xs:complexType name="CRCType"></xs:complexType>
    <xs:complexType name="CTPType"></xs:complexType>
    <xs:complexType name="CURType"></xs:complexType>
    <xs:complexType name="DMGType">
        <xs:sequence>
            <xs:element name="DMG-01" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="DMG-02" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="DMG-03" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="DMG-04" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="DMG-05" minOccurs="0" maxOccurs="1" type="C056Type" />
            <xs:element name="DMG-06" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="DMG-07" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="DMG-08" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="DMG-09" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="DMG-10" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="DMG-11" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="DMG-12" type="xs:string" minOccurs="0" maxOccurs="1"/>

        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DN1Type"></xs:complexType>
    <xs:complexType name="DN2Type"></xs:complexType>
    <xs:complexType name="DSBType"></xs:complexType>
    <xs:complexType name="DTPType">
        <xs:sequence>
            <xs:element name="DTP-01" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="DTP-02" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="DTP-03" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FRMType"></xs:complexType>
    <xs:complexType name="GEType">
        <xs:sequence>
            <xs:element name="GE-01" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="GE-02" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GSType">
        <xs:sequence>
            <xs:element name="GS-01" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="GS-02" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="GS-03" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="GS-04" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="GS-05" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="GS-06" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="GS-07" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="GS-08" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HCPType"></xs:complexType>
    <xs:complexType name="HIType">
        <xs:sequence>
            <xs:element name="HI-01" minOccurs="1" maxOccurs="1" type="C022Type" />
            <xs:element name="HI-02" minOccurs="0" maxOccurs="1" type="C022Type" />
            <xs:element name="HI-03" minOccurs="0" maxOccurs="1" type="C022Type" />
            <xs:element name="HI-04" minOccurs="0" maxOccurs="1" type="C022Type" />
            <xs:element name="HI-05" minOccurs="0" maxOccurs="1" type="C022Type" />
            <xs:element name="HI-06" minOccurs="0" maxOccurs="1" type="C022Type" />
            <xs:element name="HI-07" minOccurs="0" maxOccurs="1" type="C022Type" />
            <xs:element name="HI-08" minOccurs="0" maxOccurs="1" type="C022Type" />
            <xs:element name="HI-09" minOccurs="0" maxOccurs="1" type="C022Type" />
            <xs:element name="HI-10" minOccurs="0" maxOccurs="1" type="C022Type" />
            <xs:element name="HI-11" minOccurs="0" maxOccurs="1" type="C022Type" />
            <xs:element name="HI-12" minOccurs="0" maxOccurs="1" type="C022Type" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HLType">
        <xs:sequence>
            <xs:element name="HL-01" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="HL-02" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="HL-03" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="HL-04" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HSDType"></xs:complexType>
    <xs:complexType name="IEAType">
        <xs:sequence>
            <xs:element name="IEA-01" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="IEA-02" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IMMType"></xs:complexType>
    <xs:complexType name="ISAType">
        <xs:sequence>
            <xs:element name="ISA-01" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ISA-02" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ISA-03" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ISA-04" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ISA-05" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ISA-06" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ISA-07" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ISA-08" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ISA-09" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ISA-10" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ISA-11" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ISA-12" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ISA-13" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ISA-14" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ISA-15" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ISA-16" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="K3Type"></xs:complexType>
    <xs:complexType name="LEType"></xs:complexType>
    <xs:complexType name="LINType"></xs:complexType>
    <xs:complexType name="LQType"></xs:complexType>
    <xs:complexType name="LSType"></xs:complexType>
    <xs:complexType name="LUIType"></xs:complexType>
    <xs:complexType name="LXType">
        <xs:sequence>
            <xs:element name="LX-01" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MEAType"></xs:complexType>
    <xs:complexType name="MIAType"></xs:complexType>
    <xs:complexType name="MOAType"></xs:complexType>
    <xs:complexType name="NM1Type">
        <xs:sequence>
            <xs:element name="NM1-01" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="NM1-02" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="NM1-03" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="NM1-04" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="NM1-05" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="NM1-06" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="NM1-07" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="NM1-08" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="NM1-09" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="NM1-10" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="NM1-11" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="NM1-12" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NTEType"></xs:complexType>
    <xs:complexType name="N2Type"></xs:complexType>
    <xs:complexType name="N3Type">
        <xs:sequence>
            <xs:element name="N3-01" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="N3-02" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="N4Type">
        <xs:sequence>
            <xs:element name="N4-01" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="N4-02" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="N4-03" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="N4-04" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="N4-05" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="N4-06" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="N4-07" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="N4-08" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OIType"></xs:complexType>
    <xs:complexType name="PATType">
        <xs:sequence>
            <xs:element name="PAT-01" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PAT-02" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PAT-03" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PAT-04" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PAT-05" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PAT-06" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PAT-07" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PAT-08" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PAT-09" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PERType">
        <xs:sequence>
            <xs:element name="PER-01" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="PER-02" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PER-03" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PER-04" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PER-05" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PER-06" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PER-07" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PER-08" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PER-09" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PRVType">
        <xs:sequence>
            <xs:element name="PRV-01" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="PRV-02" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PRV-03" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PRV-04" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PRV-05" minOccurs="0" maxOccurs="1" type="C035Type"/>
            <xs:element name="PRV-06" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PS1Type"></xs:complexType>
    <xs:complexType name="PWKType"></xs:complexType>
    <xs:complexType name="QTYType"></xs:complexType>
    <xs:complexType name="RASType"></xs:complexType>
    <xs:complexType name="REFType">
        <xs:sequence>
            <xs:element name="REF-01" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="REF-02" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="REF-03" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="REF-04" type="C040Type" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="STType">
        <xs:sequence>
            <xs:element name="ST-01" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ST-02" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ST-03" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SBRType">
        <xs:sequence>
            <xs:element name="SBR-01" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="SBR-02" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="SBR-03" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="SBR-04" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="SBR-05" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="SBR-06" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="SBR-07" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="SBR-08" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="SBR-09" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="SBR-10" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SEType">
        <xs:sequence>
            <xs:element name="SE-01" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="SE-02" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SVDType"></xs:complexType>
    <xs:complexType name="SV1Type">
        <xs:sequence>
            <xs:element name="SV1-01" type="C003Type" minOccurs="1" maxOccurs="1"/>
            <xs:element name="SV1-02" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="SV1-03" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="SV1-04" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="SV1-05" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="SV1-06" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="SV1-07" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="SV1-08" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="SV1-09" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="SV1-10" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="SV1-11" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="SV1-12" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="SV1-13" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="SV1-14" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="SV1-15" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="SV1-16" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="SV1-17" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="SV1-18" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="SV1-19" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="SV1-20" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="SV1-21" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SV2Type"></xs:complexType>
    <xs:complexType name="SV3Type"></xs:complexType>
    <xs:complexType name="SV4Type"></xs:complexType>
    <xs:complexType name="SV5Type"></xs:complexType>
    <xs:complexType name="SV6Type"></xs:complexType>
    <xs:complexType name="SV7Type"></xs:complexType>
    <xs:complexType name="TOOType"></xs:complexType>
    <xs:complexType name="URType"></xs:complexType>

    <!-- Element Types -->
    <xs:complexType name="C003Type">
       <xs:sequence>
           <xs:element name="E01" type="xs:string" minOccurs="1" maxOccurs="1"/>
           <xs:element name="E02" type="xs:string" minOccurs="1" maxOccurs="1"/>
           <xs:element name="E03" type="xs:string" minOccurs="0" maxOccurs="1"/>
           <xs:element name="E04" type="xs:string" minOccurs="0" maxOccurs="1"/>
           <xs:element name="E05" type="xs:string" minOccurs="0" maxOccurs="1"/>
           <xs:element name="E06" type="xs:string" minOccurs="0" maxOccurs="1"/>
           <xs:element name="E07" type="xs:string" minOccurs="0" maxOccurs="1"/>
           <xs:element name="E08" type="xs:string" minOccurs="0" maxOccurs="1"/>
           <xs:element name="E09" type="xs:string" minOccurs="0" maxOccurs="1"/>
           <xs:element name="E10" type="xs:string" minOccurs="0" maxOccurs="1"/>
           <xs:element name="E11" type="xs:string" minOccurs="0" maxOccurs="1"/>
           <xs:element name="E12" type="xs:string" minOccurs="0" maxOccurs="1"/>
       </xs:sequence>
    </xs:complexType>
    <xs:complexType name="C022Type">
        <xs:sequence>
            <xs:element name="E01" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="E02" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="E03" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="E04" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="E05" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="E06" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="E07" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="E08" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="E09" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="E10" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="C023Type">
        <xs:sequence>
            <xs:element name="E01" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="E02" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="E03" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="C024Type">
    <xs:sequence>
        <xs:element name="E01" type="xs:string" minOccurs="1" maxOccurs="1"/>
        <xs:element name="E02" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="E03" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="E04" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="E05" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    </xs:complexType>
    <xs:complexType name="C035Type">
        <xs:sequence>
            <xs:element name="E01" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="E02" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="E03" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="C040Type">
        <xs:sequence>
            <xs:element name="E01" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="E02" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="E03" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="E04" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="E05" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="E06" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="C056Type">
        <xs:sequence>
            <xs:element name="E01" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="E02" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="E03" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>